<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>VKV Prevádzkový aktív</title>
    <style>

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map {
        height: 100%;
      }
      
      /* marker icon */
    .triangle {
      fill: #00e;
      stroke: #000;
      stroke-width: 1;

    .triangle-container{
      width: 20px;
      height: 20px;
      margin: 0;
      padding: 0;
    }

    </style>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
