{% extends "index.html" %}
{% block body %}
<h2>Nahrať denník</h2>

<p>Prosím vyplň <strong>6-miestny</strong> lokátor, z ktorého si vysielal a nahraj denník vo fomáte ADIF.</p>
<p>Lokátor môžeš nechať aj prázdny, program sa pokúsi Tvoj lokátor zistiť zo spojení.</p>

<div id="upload_form">
<form method=post enctype=multipart/form-data>
  <p>
     <label for="gridsquare">Lokátor:</label><input type="text" name="gridsquare"><br>
    <input type=file name=file><br>
     <input type="submit" value="Odoslať">
</form>
</div>
{% endblock %}
