{% extends "index.html" %}
{% block body %}
<h1>Your Log</h1>
<table>
<thead>
<tr>
    <td>#</td>
    <td>CALL</td>
    <td>BAND</td>
    <td>MY GRID SQUARE</td>
    <td>THEIR GRID SQUARE</td>
    <td>DISTANCE</td>
    <td>SQUARE DISTANCE</td>
    <td>POINTS</td>
</tr>
</thead>
<tbody>
{% for qso in log.qsos %}
<tr>
    <td>{{ loop.index }}</td>
    <td>{{ qso.call }}</td>
    <td>{{ qso.band }}</td>
    <td>{{ qso.my_gridsquare }}</td>
    <td>{{ qso.gridsquare }}</td>
    <td>{{ qso.distance }}{% if qso.distance %} km{% endif %}</td>
    <td>{{ qso.point_distance }}</td>
    <td>{{ qso.points }}</td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock %}
